<html>
<head>
  <title>Fo Shizzle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h3>Whatcha wanna shizzle mah nizzle?</h3>
    <form action="/foshizzle">
      <div class="form-group">
        <label for="user_input">To shizzle:</label>
        <input id="user_input" name="user_input" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-warning">Submizzle</button>
    </form>
  </div>
</body>
</html>
