<html>
<head>
  <title>Fo Shizzle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h3>Here be yo shizzle</h3>
    <p>{{ result }}</p>
  </div>
</body>
</html>
